.App {
  text-align: center;
}


.App-header {
  background-color: aliceblue;
  min-height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0in;
  background-color: white;
  margin-top: 200px;
  margin-left: 450px;
  width: 700px;
  height: 150px;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  line-height: 30px;
  position: fixed;
  border-radius: 10px;
}

.item {
  font-family: "Merriweather";
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  align-items: center;
  align-self: center;
}

.item1 {
  font-size: 20px;
  font-family: "Poppins";
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
}